/*  We are using CSS Flexbox to arrange our elements on the page. 
    Read more about it here: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/ 

body {
  font-family: 'Comic Sans MS', serif;
  background: url('https://i.imgur.com/cF9MHad.gif') 52% top / 500px 100px no-repeat, url('https://i.imgur.com/ZJfV0bk.jpg') right bottom / 100px 100px repeat;
  cursor: url('salmon.png'), auto;
  margin: 150px 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerImage {
  width: 600px;
}

.profileCard {
  background: #000;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  border-radius: 3px;
  width: 300px;
  margin-bottom: 15px;
}

.profileImage {
  background-image: url('https://us.123rf.com/450wm/alexraths/alexraths1311/alexraths131100069/23939590-rainbow-trout-isolated-on-a-white-background.jpg?ver=6');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 6em; /* em is relative to the font size */
}

.profileHeader {
  
  padding-top: 5px;
  border-top: 2px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileHeader h1 {
  color: #E91E63;
  margin-top: 5em;
  font-size: 2em;
  margin: 0;
  padding: 0;
  animation: example5 2s linear infinite alternate;
}

.profileHeader p {
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.profile {
  font-size: .9em;
}

.profileDescription img {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

@keyframes example5 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(0%); /* Firefox bug fix */
  -webkit-transform: translateX(0%); /* Firefox bug fix */
  transform: translateX(0%); 
  }
 }